.portfolio-item-name {
  cursor: pointer;
  color: var(--mantine-color-white-0);
  transition: color 0.2s ease;
}

.portfolio-item-name:hover {
  color: var(--mantine-color-gray-6);
}

.portfolio-number-input input {
  background-color: #4A5568;
  border-color: #4A5568;
  color: #E2E8F0;
}

.portfolio-number-input input:focus {
  border-color: #6B73FF;
}
