.details-page-header {
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--mantine-spacing-lg);
}

.details-page-spacer {
  flex: 1;
}

.details-page-quote-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.details-page-button-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.card-container {
  flex: 1 1 48%; /* Grow, shrink, and basis for wrapping */
  min-width: 300px; /* Minimum width before wrapping */
  max-width: 50%;
}
