.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.searchbox__container {
  min-width: 300px;
  width: 40vw;
}

.mantine-TextInput-input {
  background-color: #282c34;
  border-color: white;
  padding: 1rem;
  color: white;
}