.mantine-AppShell-header {
  background-color: #282c34;

}

.mantine-AppShell-navbar {
  background-color: #282c34;
}

.mantine-AppShell-footer {
  background-color: #282c34;
}

.home-link {
  color: #fff;
  text-decoration: none;
}

.header__searchbox-wrapper {
  flex-grow: 1;
}

.layout__navlink:hover {
  background-color: #393f4b;
}