.mantine-Paper-root {
  background-color: #282c34;
  color: white;
  border-color: white;
  width: 100%;
  box-sizing: border-box;
}

.tableRow {
  padding: 0px;
}

.tableHead {
  padding: 0px;
}

.tableRow__value {
  display: grid;
  justify-content: flex-end;
}

