.calculator-form-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}

.calculator-number-input input {
  background-color: var(--input-background);
  border: 1px solid var(--input-border);
  color: var(--color-text-white);
  transition: var(--transition-standard);
}
