@import "../../styles/modalStyles.css";

.watchlist-item-name {
  cursor: pointer;
  color: var(--mantine-color-white-0);
  transition: color 0.2s ease;
}

.watchlist-item-name:hover {
  color: var(--mantine-color-gray-6);
}

.watchlist-item-logo-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  height: 25px;
  width: 25px;
  background-color: #2c3e50;
  border-radius: 4px;
  font-size: 10px;
  font-weight: bold;
  color: #fff;
}
